<h1>なぞなぞファクトリー</h1>


<h2>なぞなぞ一覧</h2>


<table border=1>
 <tr><th>番号</th><th>クイズタイトル</th><th>リンク</th></tr>
 <tr><th>1</th><th>歴史クイズ</th><th><%= link_to "リンク", :controller => "quiz_solve", :action => "index"  %></th></tr>
 <tr><th>2</th><th>動物クイズ</th><th><%= link_to "なぞなぞを解く", "https://www.google.co.jp" %></th></tr>
 <tr><th>3</th><th>perfumeクイズ</th><th><%= link_to "なぞなぞを解く", "https://www.google.co.jp" %></th></tr>
</table>


<br><br>
<div>
<%= link_to "なぞなぞをつくる！！", "http://www.perfume-web.jp/" %>
</div>

