<h1>なぞなぞファクトリー</h1>


<h2>タイトル　perfumeクイズ</h2>



<h3>問題文　Perfume兼ロシア連邦大統領は誰？　</h3>


<p><br>
<input type="radio" name="q1" value="大本彩乃"> 大本彩乃 <br>
<input type="radio" name="q1" value="樫野有香"> 樫野有香<br>
<input type="radio" name="q1" value="ウラジミール・プーチン"> ウラジミール・プーチン<br>
<input type="radio" name="q1" value="西脇綾香"> 西脇綾香<br>
</p>


<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
 <%= link_to "回答する", :controller => "quiz_list", :action => "index"  %>
</div>

